<!-- Form to enter information for a user-->
<form role="form">
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" ng-model="user.name" placeholder="Add a user's name here...">
    </div>
    <button type="submit" class="btn btn-default" ng-click="submitUser()">Submit</button>
</form>
<table class="table table-condensed table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr data-ng-repeat="user in allUsers">
        <td>{{user._id}}</td>
        <td>{{user.name}}</td>
    </tr>
</table>
